div.controls {
  position: absolute;
  right:0;
  width:200px;

}
div.below {
  opacity:0.8;
  background-color:#DDDDDD;
  width:200px;
  min-height:160px;
  overflow:hidden;
  border-radius:10px 10px 10px 10px;
}
div.buttons{
  padding:5px;

}
div.top {
  text-align: center;
  width:100%;
}
i.fa fa-angle-double-up {
  display: inline-block;

}

div.minicon {
  background-color:#ABB2B9;
  width:70%;
  height:50%;
}
div.mainfilter{
  margin-bottom:10px;
}
div.nsfwfilter {
  margin-bottom:10px;
}
div.keywords {
  font-size:10pt;
  padding-left:10px;
  padding-right:10px;
}
div.keyword {
  font-size:10pt;
  color: black;
  /*border-bottom: 1px solid #aaa;*/
  width:100%;
  display:inline-block;

}
div.keywordArray {

}
/*div.keywordInput {

  font-size:10pt;
  color: black;
  border: 0px solid white;
  display:inline-block;

}*/
input.keywordInput:focus {
    outline:none;
}
input.keywordInput {
	background-color: inherit;
	border: 0px solid black;
	border-bottom: 1px solid #aaa;
	font-size:10pt;
	color: black;
  display:inline-block;
  margin-bottom:5px;
  font-family: 'Open Sans', sans-serif;

}
