div.controls {
  position: absolute;
  right:10%;

  top:100px;
  width:200px;
  min-height:400px;
  overflow:hidden;
  border-radius:10px 10px 10px 10px;
}
div.buttons{
  padding:5px;

}
div.minimize {
  background-color:#566573;
  width:10%;
}

div.minicon {
  background-color:#ABB2B9;
  width:70%;
  height:50%;
}
div.mainfilter{
  margin-bottom:10px;
}
div.nsfwfilter {
  margin-bottom:10px;
}
div.keywords {
  font-size:13pt;
}
div.keyword {
  font-size:13pt;
  color: white;
  border-bottom: 1px solid black;
  width:100%;
  margin-bottom:5px
}

div.keywordInput {
  width:100%;
  font-size:13pt;
  color: white;
  border-bottom: 1px solid black;
}
input.keywordInput:focus {
    outline:none;
}
input.keywordInput {
	background-color: inherit;
	border: 0px solid black;
	border-bottom: 1px solid black;
	width:100%;
	font-size:13pt;
	color: white;
}
